rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /troubles/{troubleId} {
      allow read, write, create, delete;
    }
  }
}