.container {
  margin: 0 auto;
  max-width: 400px;
  padding: 1rem;
  height: auto;
  width: calc(100% - 2rem);
}

.btn-container {
  text-align: right;
}

.datail__h3 {
  border-bottom: solid 1px red；;
}

.input__div {
  margin-top: 16px;
}
